<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<h1>Hola!</h1>
	<p>Es necesario que te crees una cuenta en TapaTech antes de
		contactar con administración! Creala usando el siguiente botón en un
		solo click.</p>
	<a th:href="${temporalUrl}"
		style="padding: 10px 30px; background-color: #FF9A00; color: white; font-weight: bold; border-radius: 8px; text-decoration: none; display: inline-block;">Registarse</a>
</body>
</html>