<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <style>
        @media (max-width: 600px) {
            .container {
                width: 100% !important;
                padding: 0 10px !important;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">
    <div class="container" style="margin: 0 auto; width: 40%; max-width: 600px; padding: 0 10px;">
        <img src="LogoJyH_NoFondo.png" th:src="|cid:${logo}|" style="width: 100px; display: block; margin: 20px auto;"
            alt="Logo de Jiménez y Hormigo Asesores" />
        <p style="margin: 30px 0;">¡Hola<span th:text="${name}" style="font-weight: bold;"></span>!</p>
        <p style="margin: 30px 0;">
            Para completar el proceso de resetear contraseña haz clic en el siguiente enlace (se debe abrir en el mismo
            navegador donde ha registrado el cambio):
        </p>
        <a th:href="@{'https://jimenezyhormigo.com/reset-password/' + ${temporalUrl}}"
            style="padding: 10px 30px; background-color: #FF9A00; color: white; font-weight: bold; border-radius: 8px; text-decoration: none; display: inline-block;">Cambiar
            contraseña</a>
        <p style="margin-bottom: 30px; margin-top: 10px; font-style: italic;">Enlace válido durante 10 minutos</p>
        <p style="margin: 30px 0;">Si no realizaste esta solicitud, por favor ignora este correo.</p>
        <p style="margin: 30px 0;">
            Saludos cordiales,<br />
            Jiménez y Hormigo Asesores <br />
            Para cualquier pregunta <a href="mailto:miguelangeldelarosaleva@gmail.com"
                style="color: #014280; text-decoration: none;">miguelangeldelarosaleva@gmail.com</a>
        </p>
        <hr style="border: none; border-top: 1px solid #eaeaea;" />
        <footer style="font-size: 12px; text-align: center;">
            Este email fue enviado de forma automática, por favor no responda. <br />
            © 2024 Jiménez y Hormigo Asesores
        </footer>
    </div>
</body>>

</html>